<h1><%= params['q'] %>:</h1>
<table id="results" class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Publisher</th>
      <th scope="col">Preview</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr scope="row">
        <td>
          <a href=<%= book["volumeInfo"]["previewLink"] %> target="_blank" hidden="true"><%= book["volumeInfo"]["title"] %></a>
          <%= book["volumeInfo"]["title"] %>
        </td>
        <% if book["volumeInfo"]["authors"].present? %>
          <td><%= book["volumeInfo"]["authors"][0] %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= book["volumeInfo"]["publisher"] %></td>
        <td><img src=<%= book["volumeInfo"]["imageLinks"]["thumbnail"] %>></td>
      </tr>
    <% end %>
  </tbody>
</table>
